# Ignore entire archive folder (including all images and annotations)
data/archive/

data/train_10k/

runs/
*.log
*.ckpt
*.pth

# Python files
__pycache__/
*.pyc

# OS / editor junk
.DS_Store
.env
.vscode/
.idea/
